<% @goodfeelings.each do |goodfeeling|%>
  <% record=Record.find_by(id: goodfeeling.record_id) %>
  <div class="posts-index-item">
    <div class="post-right">
      <div class="post-user-name">
        <%= record.created_at.strftime('%Y/%m/%d') %>
      </div>
      <%= link_to(record.content, "/records/#{record.id}") %>
    </div>
  </div>
<% end %>