
<div class="main users-new">
  <div class="users-container">
    <div class="users-form-heading"><i class="fas fa-user-plus" style="margin-right: 16px;"></i>ユーザー新規登録</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag("/users") do %>
          <p class="form-guide">ユーザー名<i class="fas fa-user" style="margin-left: 16px;"></i></p>
          <input name="name" value="<%= @user.name %>" class="user-input">
          <p class="form-guide">メールアドレス<i class="far fa-envelope" style="margin-left: 16px;"></i></p>
          <input name="email" value="<%= @user.email %>" class="user-input">
          <p class="form-guide">パスワード<i class="fas fa-key" style="margin-left: 16px;"></i></p>
          <input  name="password" value="<%= @user.password %>" class="user-input">
          <br><input type="submit" value="新規登録" class="user-submit submit-btn">
        <% end %>
      </div>
    </div>
  </div>
</div>
