<header class="header">
    <% if @current_user %>
      <div class="current_user">
        <i class="far fa-user" style="padding-top: 3vh;"></i>　<%= @current_user.name %> さん
      </div>
    <% else %>  
      <div class="current_user">
        <i class="far fa-user" style="padding-top: 3vh;"></i>　Who are you ？
      </div>
    <% end %>
    <% if @current_user %>
      <div class="directry">
      <% if current_page?(home_path) %>
        <i class="fas fa-home" style="padding-top: 3vh;"></i>　HOME
      <% elsif current_page?(goodfeelings_user_path(@current_user.id)) %>
        <i class="far fa-laugh-beam" style="padding-top: 3vh;"></i>　Feel good!!
      <% elsif current_page?(badfeelings_user_path(@current_user.id)) %>
        <i class="far fa-frown" style="padding-top: 3vh;"></i>　Feel bad⤵︎
      <% elsif current_page?(edit_user_path(@current_user.id)) %>
        <i class="fas fa-user-edit" style="padding-top: 3vh;"></i>　Edit User
      <% else %>
      
      <% end %>
      </div>
    <% else %>
      <div class="directry">
      <% if current_page?(login_path) %>
        <i class="fas fa-sign-in-alt" style="padding-top: 3vh;"></i>　Log in
      <% else %>
        <i class="fas fa-user-plus" style="padding-top: 3vh;"></i>　Sign up
      <% end %>
      </div>
    <% end %>
      <div class="date">
        <i class="far fa-calendar-alt" style="padding-top: 3vh;"></i>　<div id="date"></div>
      </div>  
    </header>
    <%= yield%>
  </div>  