<section class="new-record">
  <div class="form-container">
    <h1 class="form-head"><i class="fas fa-edit"></i>　Edit<b style="margin-left:80px;"><%= @record.created_at.strftime('%Y/%m/%d %H:%M')%> の投稿</b></h1>
      <%= form_tag("/records") do %>
        <div class="form">
          <div class="form-body">
            <textarea  type="text" name="content" placeholder="What did you eat?"><%= @record.content %></textarea>
            <button type="submit" class="submit-btn">更新する</button>
          </div>
        </div>
      <% end %>
  </div>
</section>