<section class="new-record">
  <div class="form-container">
    <h1 class="form-head"><i class="fas fa-pen"></i>　New</h1>
      <%= form_tag("/records") do %>
        <div class="form">
          <div class="form-body">
            <textarea  type="text" name="content" placeholder="What did you eat?"><%= @record.content %></textarea>
            <button type="submit" class="submit-btn">記録する</button>
          </div>
        </div>
      <% end %>
  </div>
</section>
<section class="records">
  <%= render :partial => "index" %>
</section>