<div class="main posts-index">
  <div class="container">
    <% @records.each do |record| %>
      <div class="posts-index-item">
        <a href="#"></a>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(record.created_at.strftime('%Y/%m/%d'),"/records/#{record.id}") %>
          </div>
          <%= link_to(record.content, "/records/#{record.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>